body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #2e2f42;
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0px;
  list-style-type: none;
}
a {
  text-decoration: none;
  display: block;
  color: #2e2f42;
}
.back-btn {
  text-decoration: none;
  font-style: normal;
  border: 1px solid #2e2f42;
  border-radius: 12px;
  padding: 6px 12px;
  align-items: center;
  display: inline-flex;
}
.back-btn:hover,
.back-btn:focus {
  background-color: #434455;
  color: #ffffff;
}
.container {
  max-width: 1200px;
  padding: 15px;
  margin: 0 auto;
}
.menu {
  display: flex;
  gap: 12px;
}

.header {
  display: flex;
  gap: 20px;
  padding: 20px 0;
}
h2 {
  margin: 5px auto;
}
.hello-input {
  margin-bottom: 16px;
}
